@model GogoDriverWeb.Models.Plainte

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Plainte</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LibellePlainte)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LibellePlainte)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DatePlainte)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DatePlainte)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GogoWebUserIdNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GogoWebUserIdNavigation.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.PlainteId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
