@using GogoWeb.Areas.Identity.Data;
@using Microsoft.AspNetCore.Identity;
@inject SignInManager<GogoWebUser> SignInManager
@inject UserManager<GogoWebUser> UserManager
@model IEnumerable<GogoDriverWeb.Models.Plainte>

@{
    ViewData["Title"] = "Index";
}
<div class="pagetitle">
    <h1>Les plaintes</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"> <a asp-action="Index">Index</a></li>
            <li class="breadcrumb-item">Les plaintes</li>
            <li class="breadcrumb-item active">Liste</li>
        </ol>
    </nav>
</div><!-- End Page Title -->
@if (SignInManager.IsSignedIn(User) && User.IsInRole("Chauffeur") || User.IsInRole("Passager"))
{
    <p>
        <a asp-action="Create">Nouveau</a>
    </p>
}
<section class="section">
    <div class="row">
        <div class="col-lg-12">

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Liste plaintes</h5>

                    <!-- Default Table -->
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.LibellePlainte)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.DatePlainte)
                                </th>
                                <th>
                                    Utilisateur
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.LibellePlainte)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DatePlainte)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.GogoWebUserIdNavigation.Nom)
                                    </td>
                                    <td>
                                        <a asp-action="Edit" asp-route-id="@item.PlainteId"><i class="fa fa-edit" aria-hidden="true"></i></a> |
                                        <a asp-action="Details" asp-route-id="@item.PlainteId"><i class="fa fa-list" aria-hidden="true"></i></a> |
                                        <a asp-action="Delete" asp-route-id="@item.PlainteId"><i class="fa fa-trash" aria-hidden="true"></i></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <!-- End Default Table Example -->
                </div>
            </div>



        </div>
    </div>
</section>

