@model IEnumerable<GogoDriverWeb.Models.TypeReservation>

@{
    ViewData["Title"] = "Index";
}
<div class="pagetitle">
    <h1>Les types de reservation</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"> <a asp-action="Index">Index</a></li>
            <li class="breadcrumb-item">Les types de reservation</li>
            <li class="breadcrumb-item active">Liste</li>
        </ol>
    </nav>
</div><!-- End Page Title -->
<p>
    <a asp-action="Create">Create New</a>
</p>
<section class="section">
    <div class="row">
        <div class="col-lg-12">

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Liste types de reservation</h5>

                    <!-- Default Table -->
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.NomType)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.PrixUnitaire)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.TauxPeriodique)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.NomType)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PrixUnitaire)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TauxPeriodique)
                                    </td>
                                    <td>
                                        <a asp-action="Edit" asp-route-id="@item.TypeReservationId"><i class="fa fa-edit" aria-hidden="true"></i></a> |
                                        <a asp-action="Details" asp-route-id="@item.TypeReservationId"><i class="fa fa-list" aria-hidden="true"></i></a> |
                                        <a asp-action="Delete" asp-route-id="@item.TypeReservationId"><i class="fa fa-trash" aria-hidden="true"></i></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <!-- End Default Table Example -->
                </div>
            </div>



        </div>
    </div>
</section>