@model GogoDriverWeb.Models.Vehicule

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Vehicule</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomVehicule)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomVehicule)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Immatriculation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Immatriculation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Couleur)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Couleur)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Assurance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Assurance)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroChassis)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumeroChassis)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Marque)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Marque)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TypeReservationIdNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TypeReservationIdNavigation.TypeReservationId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TypevehiculeIdNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TypevehiculeIdNavigation.TypevehiculeId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.VehiculeId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
