@model GogoDriverWeb.Models.Reservation

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Reservation</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateReservation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateReservation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HeureDebut)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HeureDebut)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HeureFin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HeureFin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Position)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Position)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NbrePassages)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NbrePassages)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GogoWebUserIdNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GogoWebUserIdNavigation.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TypeReservationIdNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TypeReservationIdNavigation.TypeReservationId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ReservationId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
