@model GogoDriverWeb.Models.So

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>So</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Localisation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Localisation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PersonneIdNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersonneIdNavigation.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.SoId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
